.dropzone{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111e;
    z-index: 999;
    margin: 16px;
    border-radius: 12px;
    border: 24px dashed #aaa4;
    font-size: 48px;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.dropzone.show{
    opacity: 1;
    visibility: visible;
}