

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: darkcyan;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

input {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

#input-file {
    font-size: 18px;
    position: absolute;
    opacity: 0;
}

.music {
    position: relative;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 580px;
    transform: translate(-50%, -50%);
    background: #000;
    color: #fff;
    border: 4px solid #000;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    padding: 4px;
}

.albumArt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/0.png) no-repeat center;
    background-size: cover;
    /*width: 100%;*/
    /*height: 100%;*/
    border-radius: 8px;
    margin: 8px;
    transition: 150ms all linear 25ms;
}

.albumArt.cover {
    z-index: -1;
    filter: blur(8px) contrast(1.1) brightness(0.75);
    background-size: 125%;
}

.music.playing .albumArt:not(.cover) {
    margin: 0;
}

.song {
    flex: 1 1 60%;
    position: relative;
}

.buttons {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.navigator {
    display: flex;
    min-height: 48px;
    background: #111a;
    border-radius: 8px;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    backdrop-filter: blur(12px);
}

.btn {
    font-family: 'Material Icons Round', sans-serif;
    font-size: 32px;
    width: 36px;
    height: 36px;
    background: no-repeat center;
    background-size: 100% 100%;
    color: #aaa;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 250ms all ease-in-out 75ms;
    backdrop-filter: blur(18px);
}

.btn:hover {
    color: #eee;
    text-shadow: 0 0 4px currentColor;
    box-shadow: inset 0 0 64px 64px #ffffff22;
}

.btn:active {
    box-shadow: inset 0 0 0 64px #ffffff44;
}

.btn.on, #play-list.show + .navigator #list,
#menu-list.show + #menu,
#search-list.show + * + .navigator #search {
    text-shadow: 0 0 4px currentColor;
    color: #ffffff;
}

.more {
    right: 0;
}

.more, .favorite {
    margin-top: 8px;
    border-radius: 8px;
    font-size: 28px;
}

.play, .next, .previous, .backward, .forward {
    border-radius: 50%;
    background-color: #000000d9;
    margin: 4px;
    width: 42px;
    height: 42px;
    color: #ffffff;
}

.play {
    width: 64px;
    height: 64px;
    font-size: 48px;
}

.trackLabels {
    font-size: 22px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8px 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.trackLabels > div {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background: #111;
    padding: 2px 4px;
    margin: 1px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    border-radius: 6px;
}

.trackLabels > :nth-last-child(1) {
    background: none;
    display: flex;
    width: 100%;
}

.otherButtons, .controlButtons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.controlButtons {
    flex-direction: column;
    flex: 1 1;
}

.controlButtons > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

.otherButtons > div {
    border-radius: 8px;
    width: 56px;
    height: 32px;
    font-size: 28px;
    background: #33333333;
}

.controlButtons .progress {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.controlButtons .time {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.progress > * {
    padding: 4px 0;
}

.seekbar {
    width: 100%;
    appearance: none;
    background: #11111199;
    border-radius: 16px;
}

.seekbar::-webkit-slider-thumb {
    background: #ffffffd4;
    width: 12px;
    height: 8px;
    border-radius: 4px;
    appearance: none;
    margin: 2px 2px 2px -2px;
}

#menu-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111111;
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding-bottom: 0;
    z-index: -1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    border-radius: 8px;
    user-select: none;
    transition: 250ms all ease-in-out;
}

#menu-list.show {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: 250ms all ease-in-out 75ms;
    padding-bottom: 48px;
}

.controlButtons .time > div {
    background: #111;
    padding: 4px;
    border-radius: 8px;
}

.navigator > .btn {
    flex: 1 0 auto;
    backdrop-filter: none;
    background: none;
    height: 100%;
    border-radius: 8px;
}

#menu-list > * {
    padding: 16px 18px;
    height: 12px;
    width: auto;
    font-family: tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

#menu-list > *:nth-child(n+2):hover {
    background: #fff3;
}

.version {
    font-size: 24px !important;
    font-weight: 900;
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: center;
}

#menu-list > * .btn {
    font-size: 24px;
    justify-content: flex-start;
    margin-right: 8px;
}

:is(#play-list, #search-list) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000080;
    backdrop-filter: blur(8px) saturate(0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    visibility: hidden;
    opacity: 0;
    transition: 150ms all linear 75ms;
    transform: scale(0.95) translateY(32px);
    overflow: hidden;
    padding-bottom: 64px;
}

:is(#play-list, #search-list #result):hover {
    overflow: auto;
}

/*noinspection ALL*/
@supports (overflow: overlay) {
    :is(#play-list, #search-list #result):hover {
        overflow: overlay;
    }
}

:is(#play-list, #search-list).show {
    opacity: 1;
    visibility: visible;
    transform: none;
}

:is(#play-list, #search-list) .song {
    backdrop-filter: blur(0px);
    background: none;
    flex: none;
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    user-select: none;
    cursor: pointer;
    /* transition: 150ms all linear 75ms; */
}

/*noinspection ALL*/
:is(#play-list, #search-list) .song:hover {
    background: #ffffff22;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    transition: 150ms all linear 75ms , 150ms backdrop-filter linear 75ms;
}

:is(#play-list, #search-list) .song:active {
    box-shadow: 0 0 50px 64px inset #aaaaaa55;
    border-radius: 16px;
}

:is(#play-list, #search-list) .albumArt {
    position: unset;
    width: 96px;
    height: 96px;
    margin: 8px;
}

:is(#play-list, #search-list) .trackLabels {
    position: unset;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    /* height: 112px; */
    margin: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 60%;
}

:is(#play-list, #search-list) .trackLabels > div {
    background: none;
}

:is(#play-list, #search-list) .trackLabels > :nth-last-child(1) {
}


.more, .favorite {
    display: none !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.13);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}

#play-list:before {
    content: 'All Songs';
    font-size: 36px;
    margin: 32px;
}

#search-list label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 8px;
    background: #111111;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#search-list label :is(.btn, input) {
    background: none;
    font-size: 16px;
    color: #ffffff;
}

#search-list label .btn {
    font-size: 22px;
    z-index: 9;
}

#search-list label input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 48px;
}

#search-list #result {
    padding-top: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

#search-list #result.empty {
    align-items: center;
    justify-content: center;
}

/*

*:hover::before{
    content: attr(class);
    position: absolute !important;
    font-size: 24px;
    top: 0;
    left: 0;
    background: #111111;
    font-family: sans-serif;
    overflow: visible;
    z-index: 999;
    display: block;
}*/
