html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: darkcyan;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#input-file {
    /*display: none*/
}

.music {
    position: relative;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 580px;
    transform: translate(-50%, -50%);
    background: #000;
    color: #fff;
    border: 4px solid #000;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.albumArt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/0.png) no-repeat center;
    background-size: cover;
    /*width: 100%;*/
    /*height: 100%;*/
    border-radius: 8px;
}

.albumArt.cover {
    z-index: -1;
    filter: blur(8px) contrast(1.1) brightness(0.75);
    background-size: 105%;
}

.music.playing .albumArt {
    transform: scale(1.1);
}

.song {
    flex: 1 1 60%;
    position: relative;
}

.buttons {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.navigator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 48px;
    background: #111;
    border-radius: 8px;
}

.btn {
    font-family: 'Material Icons Round', sans-serif;
    font-size: 32px;
    width: 36px;
    height: 36px;
    background: no-repeat center;
    background-size: 100% 100%;
    text-shadow: 0 0 4px currentColor;
    color: #fff;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    box-shadow: inset 0 0 0 64px #ffffff22;
}

.on {

}

.more {
    right: 0;
}

.more, .favorite {
    display: none;
    margin-top: 8px;
}

.play, .next, .previus {
    border-radius: 50%;
    background-color: #000;
    margin: 4px;
    width: 42px;
    height: 42px;
}

.play {
    width: 64px;
    height: 64px;
    font-size: 48px;
}

.trackLabels {
    font-size: 22px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.trackLabels > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.otherButtons, .controlButtons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.controlButtons {
    flex-direction: column;
    flex: 1 1;
}

.controlButtons > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

.otherButtons > div {
    margin: 8px;
    border-radius: 8px;
}

.controlButtons .progress {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.controlButtons .time {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.progress > * {
    padding: 2px 12px;
}

.seekbar {
    width: 100%;
    appearance: none;
    background: #11111199;
}

.seekbar::-webkit-slider-thumb {
    background: #ffffffd4;
    width: 12px;
    height: 8px;
    border-radius: 4px;
    appearance: none;
    margin: 2px 2px 2px -2px;
}