html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: darkcyan;
    width: 100vw;
    height: 100vh;
}

#input-file {
    display: none
}

.music {
    position: relative;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 480px;
    transform: translate(-50%, -50%);
    background: #000;
    color: #fff;
    border: 4px solid #000;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.albumArt {

}

.albumArt.cover {

}

.song {
    flex: 1 1 60%;
}

.buttons {
    flex: 1 1 40%;
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    justify-items: stretch;
}

.navigator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 48px;
    background: #111;
    border-radius: 8px;
}

.btn {
    width: 32px;
    height: 32px;
    background: no-repeat center;
    background-size: cover;
    filter: invert(1);
    color: transparent;
}

.repeat {
    background-image: url("./icons/repeat_black_48dp.svg");
}

.repeat.on {
    background-image: url("./icons/repeat_on_black_48dp.svg");
}

.repeat.one {
    background-image: url("./icons/repeat_one_on_black_48dp.svg");
}

.shuffle {
    background-image: url("./icons/shuffle_black_48dp.svg");
}

.shuffle.on {
    background-image: url("./icons/shuffle_on_black_48dp.svg");
}

.previus {
    background-image: url("./icons/skip_previous_black_48dp.svg");
}

.play {
    background-image: url("./icons/play_arrow_black_48dp.svg");
}

.next {
    background-image: url("./icons/skip_next_black_48dp.svg");
}

.list{
    background-image: url("./icons/grid_view_black_48dp.svg");
}

.search{
    background-image: url("./icons/search_black_48dp.svg");
}

.menu{
    background-image: url("./icons/menu_black_48dp.svg");
}